a {
    text-decoration: none;
    color: #000;
}

button {
    border: none;
    cursor: pointer;
}

/* 탑 배너 관련 스타일 */
.orange {
    background-color: #F2E9D8;
    transition: all 0.3s;
}

.fix {
    position: fixed;
    top: 0;
}


/* 모달창 관련 스타일 */
.hide {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

/* 스크롤 버튼 관련 스타일 */
.scroll {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    position: fixed;
    z-index: 20;
    bottom: 160px;
    right: 24px;
}

.banner {
    width: 100%;
    background-color: #F2E9D8;
}

.banner-top {
    padding: 31px 200px;
    width: calc(100% - 400px);
}

.menu {
    float: right;
}

.menu ul {
    display: flex;
    gap: 30px;
    font-size: 16px;
    line-height: 40px;
}

.button__download {
    background-color: #D97652;
    padding: 0 30px;
    border-radius: 40px;
    border: none;
    line-height: 40px;
    font-size: 16px;
}

.button__download a {
    color: #fff;
}

.banner-main__download {
    font-size: 16px;
    line-height: 40px;
}

.banner-main {
    padding: 260px 200px 0;
    display: flex;
}

.banner-main__right img {
    margin-top: -240px;
    margin-left: 160px;
}

.banner-main__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    width: 737px;
}

.banner-main__text {
    margin-top: 40px;
    width: 440px;
    font-size: 16px;
    line-height: 20px;
}

.banner-main__download {
    margin-top: 40px;
}

.main {
    padding: 0 200px;
}

.main-top {
    display: flex;
    padding-top: 80px;
    gap: 110px;
}

.main-top__right {
    padding-top: 120px;
}

.main-top__right-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
}

.main-top__right-text {
    margin-top: 30px;
    font-size: 16px;
    line-height: 20px;
}

.main-bottom {
    padding-top: 120px;
    text-align: center;
}

.main-bottom__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #D97652;
}

.main-bottom__text {
    font-size: 16px;
    line-height: 21px;
    padding: 40px 250px 0;
}

.main-bottom__text strong {
    color: #D97652;
}

.main-bottom__images {
    padding-top: 80px;
}

.main-bottom__images img {
    width: 424px;
}

.main-bottom__detail {
    padding: 50px 170px 0;
    text-align: left;
    margin: 0 auto;
}

.main-bottom__detail-text {
    float: left;
    width: 700px;
}

.main-bottom__detail-button {
    float: left;
    margin-left: 50px;
}

.bottom {
    margin-top: 196px;
    background-image: url('../images/img_5.png');
    height: 340px;
    background-position: center;
    position: relative;
    padding: 0 200px;
}

.subscribe {
    display: flex;
    gap: 140px;
    justify-content: space-between;
    background-color: #263140;
    border-radius: 30px;
    padding: 50px 58px;
    margin: 0 auto;
    position: absolute;
    top: -90px;
    left: 210px;
}

.subscribe-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #fff;
}

.subscribe-text {
    font-size: 14px;
    line-height: 18px;
    color: #F2E9D8;
}

.subscribe-input {
    padding: 20px 270px 20px 30px;
    background: #FFFFFF;
    border-radius: 60px;
    font-size: 16px;
    line-height: 20px;
    color: #767676;
    border: none;
}

.subscribe-input:focus {
    outline: none;
}

.subscribe-button {
    position: absolute;
    right: 65px;
    bottom: 79px;
    color: #fff;
}

.modal {
    border-radius: 30px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    padding: 60px 0 40px;
    width: 600px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: calc(50% + 1900px);
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
}

.modal-title {
    margin-top: 10px;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #D97652;
}

.modal-text {
    font-size: 14px;
    line-height: 18px;
    padding: 12px 0 38px;
}

.modal-button {
    color: #fff;
}

.footer {
    padding: 45px 200px;
}

.footer img {
    height: 70px;
}

.footer-social {
    float: right;
    margin-top: 15px;
}

.footer-social__button {
    border-radius: 50%;
    background-color: #F29D52;
    width: 42px;
    height: 42px;
}

.footer-social__button:not(first-child) {
    margin-left: 20px;
}

.footer-social__button:first-child {
    background-image: url('../images/socials.png');
    background-position: -44px -45px;
}

.footer-social__button:nth-child(2) {
    background-image: url('../images/socials.png');
    background-position: -1px -45px;
}

.footer-social__button:nth-child(3) {
    background-image: url('../images/socials.png');
    background-position: -44px -1px;
}

.footer-social__button:nth-child(4) {
    background-image: url('../images/socials.png');
    background-position: -1px -1px;
}